{% extends 'base.html.twig' %}

{% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default({"title": "Modifier mon mot de passe"}),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
{% endblock %}

{% block content %}

    <div class="change-password">
        <div class="change-password--background"></div>
        <div class="change-password--content">
            <div class="change-password--content--container">
                <h1 class="change-password--content--container--title">Modifier mon mot de passe</h1>

                {% for message in app.flashes('success') %}
                    <p class="change-password--content--container--success">
                        {{ message }}
                    </p>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <p class="change-password--content--container--error">
                        {{ message }}
                    </p>
                {% endfor %}

                {% form_theme form 'form/theme.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.oldPassword) }}
                <hr>
                {{ form_row(form.plainPassword) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    
{% endblock %}

{% block style %}
    {{ encore_entry_link_tags('change-password') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('change-password') }}
{% endblock %}