{% extends '@SuluForm/themes/basic.html.twig' %}

{%- block form_label -%}
    {% set label_attr = label_attr.class is defined and 'form--checkbox--label' in label_attr.class ? label_attr : label_attr|merge({class: 'form--label'}) %}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}

    {%- set attr = attr|merge({class: 'form--widget-text'}) -%}

    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {%- set attr = attr|merge({class: 'form--widget-textarea'}) -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block button_row -%}
    <div class="form--button-row">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="form--error">
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block checkbox_widget -%}
    <input class="form--checkbox" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block checkbox_label -%}
    {% set label_attr = label_attr|merge({class: 'form--checkbox--label'}) %}
    {{ block('form_label') }}
{%- endblock checkbox_label -%}